---
 const personalImageAlt = "Alexander Kostiuk"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Alexander Kostiuk. Empecé en el mundo de la programación
      en pandemia de manera autodidacta y con ayuda de mi padre programador durante 2 años.
      En ese tiempo hice muchas actividades, proyectos y ejercicios de todo tipo que me dieron las bases de programación y la habilidad de resolver problemas.
      Luego, al finalizar la pandemia, Desde el 2022 hasta ahora me dediqué a estudiar programación de manera tradicional
      tanto en la <strong>Universidad de Quilmes</strong> como en plataformas como CoderHouse haciendo la carrera <strong>Full Stack Developer</strong>.
      Me encanta crear, diseñar y desarrollar aplicaciones tanto desde el front como back.
    </p>
  </div>

  <img width="200" height="200" src="/me_02.jfif" alt={personalImageAlt} 
  class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
   bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " 
   style="object-position: 50% 50%">

</article>